.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin: 10px;
    height: 360px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-text{
    overflow: hidden;
    height: 150px;
}

.card-subtitle{
    margin: 10px 0px;
}