<h1 style="text-align: center; margin: 20px;">Settings</h1>

<div class="flex-container">
      <div class="card">
            <div *ngIf="spinner">
                  <app-spinner></app-spinner>
            </div> 

          <mat-selection-list #category><!--Using Angular Material Select Component-->
              <mat-list-option *ngFor="let category of categories"
               (click)="selectedCategory(category)">
                {{category.name}}
              </mat-list-option>
            </mat-selection-list>
      </div> 
</div> 


